<style>
  .sunucusresmi {
    border-radius: 50% !important;
    border: 2px solid white;
    padding: 1px;
}
.avatar {
  border-radius: 50% !important;
  border: 2px solid white;
  padding: 1px;
}
#avatar2 {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align:center;
  margin : 0 auto 0 auto;
}
    #avatar2:hover {
        transform: translate(0px,-20px);
        -webkit-transform: translate(0px,-20px);
	}
  </style>


<title> BuğraCode | Ana Sayfa</title>
<br><br>

<main class="container-fluid bg-lightdark" style="padding: 1rem;">
<div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
  <div id="avatar2">
		<img class="sunucusresmi" height="200" width="200" src="https://media.discordapp.net/attachments/744911054491877426/756249837820838048/d418bc5386eb718fe8e4ef8ca5d08879.png">
</div><br>
  <div class="testo">
        <h1 class="text-light font-weight-light">Buğra Code</h1>
    <h2 class="text-light font-weight-light">
       BuğraCode| Kod Paylaşım
  </h2>
  <p class="h4 text-light font-weight-light">
    Kodları Görebilmek İçin <a style="text-decoration:none"href="https://discord.gg/gKWVEdD" target="_blank">Discord Sunucumuza</a> Katılmanız Gerekmektedir
  </p>
  </div>

  <! <p class="h4 text-light font-weight-light">
     <a href="/bilgilendirme" style="text-decoration:none" target="_blank">Kodlara Bakmadan Önce Kesinlikle Okuyunuz!</a>
  </p> 
<div class="index-box">
<a href="/normal" style="text-decoration:none" class="index-button1"><i class="fas fa-code"></i> Normal Kodlar</a>
<a href="/altin"  style="text-decoration:none" class="index-button2"><i class="fas fa-code"></i> Altın Kodlar</a>
<a href="/elmas" style="text-decoration:none" class="index-button3"><i class="fas fa-code"></i> Elmas Kodlar</a>
<a href="/hazir" style="text-decoration:none" class="index-button4"><i class="fas fa-code"></i> Hazır Sistemler</a>

</div>
  
  
  <div class="btn-group mt-4">
    <a href="https://discord.com/oauth2/authorize?client_id=757896159262933083&scope=bot&permissions=8" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fas fa-cog"></i>Pronax Discord Botumuz </a>
    <a href="/davet" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-discord"></i> Discord Sunucumuza Katıl</a>
  </div>
  </div><br>
  <div class="container text-center">
<hr color="white">
<font color="white" size="5"><b>Kurucumuz - Yetkililer</b></font>
<br><br>
<br><br>
<div class="allpanel">
    <div class="panel1">
      <div class="col-md-4">
                  <div class="row">
<div id="avatar2">
		<img class="avatar" height="100" width="100" src="https://media.discordapp.net/attachments/744911054491877426/758239033058131979/dunyann_en_iyi_logosu.png?width=962&height=541">
		<br>
		<font color="white">Buğra Cengiz</font>
</div>
 